{% extends 'base.html.twig' %}

{% block title %}Edit Genre{% endblock %}

{% block body %}
    
   <div class="container">
<h1>Modifier Genre</h1>
    {{ include('genre/_form.html.twig', {'button_label': 'Enregistrer'}) }}
</div>
{% endblock %}
