{% extends 'base.html.twig' %}

{% block title %}New Genre{% endblock %}

{% block body %}
<div class="container">
    <h1>Ajouter nouvelle Genre</h1>

    {{ include('genre/_form.html.twig') }}

    </div>
{% endblock %}
