{% extends 'base.html.twig' %}

{% block title %}Edit Livre{% endblock %}

{% block body %}


    
    <div class="container ">
    <h1>Edit Livre</h1>
    {{ include('livre/_form.html.twig', {'button_label': 'Update'}) }}

    </div>
    

{% endblock %}