{% extends 'base.html.twig' %}

{% block title %}Edit Livre{% endblock %}

{% block body %}
    <div class="container ">
    <h1>Modifier la  Note</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-3">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    </div>
{% endblock %}
