{% extends 'base.html.twig' %}

{% block title %}New Livre{% endblock %}

{% block body %}
<div class="container ">
    <h1>Create new Livre</h1>

    {{ include('livre/_form.html.twig') }}

    </div>
{% endblock %}
