{% extends 'base.html.twig' %}

{% block title %}Edit Auteur{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier Auteur</h1>

    {{ include('auteur/_form.html.twig', {'button_label': 'Enregistrer'}) }}

</div>
    
{% endblock %}
