{% extends 'base.html.twig' %}

{% block title %}New Auteur{% endblock %}

{% block body %}
<div class="container">
    <h1>Ajouter nouvel Auteur</h1>

    {{ include('auteur/_form.html.twig') }}
</div>
    
{% endblock %}
